{% load static %}
{% static "img\blog" as baseUrl %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/elements/fav.png'%}">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<link rel="icon" href="{% static 'img/log.png'%}" type="image/x-icon">
	<title>Zoomala: Where Opportunities Find You</title>

	<link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700'%}" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css'%}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>

	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="register.html"><img src="{% static 'img/logo.png'%}" alt="j" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						{% if not user.is_authenticated %}
						<li><a href="account/register">Sign Up</a></li>
						<li><a href="account/login">Login</a></li>

						{% endif %}
						<li><a href="feed.html">feed</a></li>
						<li><a href="opportunities/opportunities">Opportunities</a></li>
						<li><a href="Mentorship.html">Mentorship</a></li>
						<li><a href="team.html">Team</a></li>
						<li><a href="contact.html">Contact</a></li>
						{% if user.is_authenticated %}
						<li><a href="account/logout">Logout</a></li>
						{% endif %}
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->
	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Zoomala
					</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- End banner Area -->
	<!-- Start blog-posts Area -->

	<section class="blog-posts-area section-gap">
		<div class="container">
			</br>
			



			<div class="row">
				<div class="col-lg-8 post-list blog-post-list">
					{% for post in posts %}
					<div class="single-post">
						<h1>
							{{post.title}}
						</h1>
						<img class="img-fluid" src="{{post.img.url}}" alt="">

						<a href="blog-single.html">

						</a>
						<p>
							{{post.desc}}yeeeee

						</p>
						<h4>
							{{post.res}}
						</h4>
						<div class="bottom-meta">
							<div class="user-details row align-items-center">
								<div class="comment-wrap col-lg-6">
									<ul>
										<li>deadline: {{post.deadline}}</a></li>

									</ul>
								</div>
								<div class="social-wrap col-lg-6">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
									</ul>

								</div>
							</div>
						</div>
					</div>
					<br />
					<hr>
					<br />
					{% endfor %}




				</div>
				<div class="col-lg-4 sidebar">
					<div class="single-widget search-widget">
						<form class="example" action="#" style="margin:auto;max-width:300px">
							<input type="text" placeholder="Search Posts" name="search2">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>

					<div class="single-widget protfolio-widget">
						<img src="img/blog/user2.jpg" alt="">
						<a href="#"><h4>Sarah Turkiey</h4></a>
						<p>
							"Zoomala is different than any
							other internship website by
							providing truly personalized
							opportunities and helpful
							suggestions."
						</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Post Categories</h4>
						<ul>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Techlology</h6> <span>37</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Lifestyle</h6> <span>24</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Fashion</h6> <span>59</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Art</h6> <span>29</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Food</h6> <span>15</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Architecture</h6> <span>09</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Adventure</h6> <span>44</span></a></li>
						</ul>
					</div>

					<div class="single-widget recent-posts-widget">
						<h4 class="title">Recent Posts</h4>
						<div class="blog-list ">
							<div class="single-recent-post d-flex flex-row">
								<div class="recent-thumb">
									<img class="img-fluid" src="{% static 'img/blog/r1.jpg'%}" alt="">
								</div>
								<div class="recent-details">
									<a href="blog-single.html">
										<h4>
											كيف يُستخدم الذكاء الاصطناعي "لقراءة" أفكار أصحاب الإعاقات الحركية وتنفيذها؟
										</h4>
									</a>
									<p>
										02 hours ago
									</p>
								</div>
							</div>
							<div class="single-recent-post d-flex flex-row">
								<div class="recent-thumb">
									<img class="img-fluid" src="img/blog/r2.jpg" alt="">
								</div>
								<div class="recent-details">
									<a href="blog-single.html">
										<h4>
											Epidémie de coronavirus COVID-19 : que font les équipes MSF ?
										</h4>
									</a>
									<p>
										02 hours ago
									</p>
								</div>
							</div>
							<div class="single-recent-post d-flex flex-row">
								<div class="recent-thumb">
									<img class="img-fluid" src="{% static 'img/blog/r3.jpg'%}" alt="">
								</div>
								<div class="recent-details">
									<a href="blog-single.html">
										<h4>
											NASA prepares to launch American astronauts
										</h4>
									</a>
									<p>
										02 hours ago
									</p>
								</div>
							</div>
							<div class="single-recent-post d-flex flex-row">
								<div class="recent-thumb">
									<img class="img-fluid" src="img/blog/r4.jpg" alt="">
								</div>
								<div class="recent-details">
									<a href="blog-single.html">
										<h4>
											Developer Student Club's first event
										</h4>
									</a>
									<p>
										02 hours ago
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Post Archive</h4>
						<ul>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Dec '17</h6> <span>37</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Nov '17</h6> <span>24</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Oct '17</h6> <span>59</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Sep '17</h6> <span>29</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Aug '17</h6> <span>15</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jul '17</h6> <span>09</span></a></li>
							<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>Jun '17</h6> <span>44</span></a></li>
						</ul>
					</div>

					<div class="single-widget tags-widget">
						<h4 class="title">Tag Clouds</h4>
						<ul>
							<li><a href="#">Lifestyle</a></li>
							<li><a href="#">Art</a></li>
							<li><a href="#">Adventure</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Techlology</a></li>
							<li><a href="#">Fashion</a></li>
							<li><a href="#">Architecture</a></li>
							<li><a href="#">Food</a></li>
							<li><a href="#">Technology</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- End blog-posts Area -->
	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Quick links</h6>
						<ul>
							<li><a href="#">Internship</a></li>
							<li><a href="#">Opportunities</a></li>
							<li><a href="#">Mentors</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Features</h6>
						<ul>
							<li><a href="#">Internship</a></li>
							<li><a href="#">Opportunities</a></li>
							<li><a href="#">Mentors</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Resources</h6>
						<ul>
							<li><a href="#">Internship</a></li>
							<li><a href="#">Opportunities</a></li>
							<li><a href="#">Mentors</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="{% static 'https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01'%}" method="get" class="form-inline">
								<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
								<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
	<!-- End footer Area -->js/vendor/jquery-2.2.4.min.js

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js'%}"></script>
	<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'%}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="{%static 'js/vendor/bootstrap.min.js'%}"></script>
	<script type="{%static 'text/javascript'%}" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="{%static 'https://code.jquery.com/ui/1.12.1/jquery-ui.js'%}"></script>
	<script src="{%static 'js/easing.min.js'%}"></script>
	<script src="{%static 'js/hoverIntent.js'%}"></script>
	<script src="{%static 'js/superfish.min.js'%}"></script>
	<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
	<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{%static 'js/owl.carousel.min.js'%}"></script>
	<script src="{%static 'js/jquery.sticky.js'%}"></script>
	<script src="{%static 'js/jquery.nice-select.min.js'%}"></script>
	<script src="{%static 'js/waypoints.min.js'%}"></script>
	<script src="{%static 'js/jquery.counterup.min.js'%}"></script>
	<script src="{%static 'js/parallax.min.js'%}"></script>
	<script src="{%static 'js/mail-script.js'%}"></script>
	<script src="{%static 'js/main.js'%}"></script>
</body>
</html>

